.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.not-found > a {
  font-weight: 600;
  background-color: #7575e2;
  color: white;
  padding: 5px 20px;
  border-radius: 20px;
  margin-top: 15px;
}

.not-found > h1 {
  font-size: 32px;
}
