.slider-controls.slider-controls--next {
  pointer-events: auto;
}

.slider-controls.slider-controls--prev {
  pointer-events: auto;
}

.slider-controls.slider-controls--points {
  pointer-events: none;
}

.slider-controls.slider-controls--points {
  pointer-events: none;
}

.slick-slide {
  width: 280px !important;
  margin: 0 16px;
}

.slick-slide:last-child {
  margin-right: 0;
}
